<div class="container-fluid">
  <div class="navbar">
        <button mat-flat-button (click)="previusMonth()">
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        </button>
        <h2>Mayo</h2>
        <button mat-flat-button>
          <mat-icon>more_vert</mat-icon>
        </button>
  </div>
  
  <div class="row">
      <div class="col ">
          <p class="day">L</p>
      </div>
      <div class="col">
          <p class="day">M</p>
      </div>
      <div class="col">
          <p class="day">X</p>
      </div>
      <div class="col">
          <p class="day">J</p>
      </div>
      <div class="col ">
          <p class="day">V</p>
      </div>
      <div class="col">
          <p class="day">S</p>
      </div>
      <div class="col">
          <p class="day">D</p>
      </div>
  </div>
  <div class="row ">
      <div class="col border flex-column col-lg-2 .col-xs-2	.col-sm-2	.col-md-2" *ngFor="let testArray1 of testArray">
          <p class="numberDay ">{{testArray1}}</p>
          <p class="event">Evento del dia de hoy</p>
      </div>
      
  </div>
</div>